/*#region RegionName*/
/*#endregion RegionName*/

.foot{

}

body {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color:
    list-style-type: none;

}

/*#region header*/
.logo{

}
.logo-dark{

}
.logo-light{

}
.header-menu{

}

.header-item{

}

.header-link{

}

.header-contact{

}

.header-contact-item{

}
/*#endregion header*/

/*#region hero*/

.hero{

}

.hero-title{

}

/*#endregion hero*/
